
node_modules

.DS_Store

Makefile
KEEP/*

libmusicxml/schema/musicxml-2.0/*
libmusicxml/schema/musicxml-4.0/*

xilypond

readytouse

build/bin/*
build/lib/*
build/libdir/*

build/lib/libmusicxml2.3.2.0.dylib
build/lib/libmusicxml2.3.dylib
build/lib/libmusicxml2.dylib

*.txt
*.midi

*.ind
*.out
*.log
*.brf
*.dtx
*.aux
*.toc

lilypond
pdflily

documentation/*/*.ilg
documentation/*/*.idx
documentation/*/*.lol
documentation/*/*.lof
documentation/*/*.gz

files/musicxmlfiles/*/Makefile
files/musicxmlfiles/*.png

files/*/lilypond/*
files/*/pdflily/*

files/musicxmlfiles/*.pdf
files/musicxmlfiles/*/*.pdf

files/musicxmlfiles/*.ly
files/musicxmlfiles/*/*.ly
files/musicxmlfiles/*.midi

files/musicxmlfiles/*.brf
